<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Akshansh's Handles</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <div>
        <img src="images/akshansh (Custom).jpg" alt="" srcset="" >
    </div>
    <div class="linkedin">
        <a href="https://www.linkedin.com/in/akshansh-s/" id="userName">Akshansh</a>
    </div>
    <div class="links">
        <button><a class="link" href="https://www.linkedin.com/in/akshansh-s/" target="_blank">Linkedin</a></button>
        <button><a class="link" href="https://twitter.com/akshansh_s"target="_blank"><img src="https://img.icons8.com/fluency/48/000000/twitter.png" alt="Twitter-icon" />Twitter</a></button>
        <button><a class="link" href="https://twitter.com/akshansh_s"target="_blank">Twitter</a></button>
        <button><a class="link" href="https://twitter.com/akshansh_s"target="_blank">Twitter</a></button>
        <button><a class="link" href="https://twitter.com/akshansh_s"target="_blank">Twitter</a></button>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>